<!-- DOGS -->
<table>
	<tr>
		<% for(let i=0;i<5;i++){ %>
			<td> <img src="<%= topDogs[i].img %>" style="width:300px;"></td>

		<% } %>
	</tr>
	<tr>
		<% for(let i=0;i<5;i++){ %>
			<td><%= topDogs[i].votes %></td>

		<% } %>
	</tr>

</table>

<!--//CATS-->
<table>

	<tr>
		<% for(let i=0;i<5;i++){ %>
			<td> <img src="<%= topCats[i].img %>" style="width:300px;"></td>

		<% } %>
	</tr>
	<tr>
		<% for(let i=0;i<5;i++){ %>
			<td><%= topCats[i].votes %></td>

		<% } %>
	</tr>

</table>
