<div class="header-stripe"></div>
<div class="header">
	<h1>Dogs</h1>
</div>
<div class="subtitle"><h2>Click on the cutest Dog</h2></div>
<div class="half-circle-left">
	<div class="align-button">
		<a onclick="dogsSlideBack()"><div class="btn btn-left">Back to <br /> start</div></a>
	</div>
</div>
<div class="dog-pictures">
		<% for(let i=0;i<2;i++){ %>
			<div class="image-container-vote">
				<a class="a-size" href="<%="/AddierenD/" + rowsDogs[randomDogs[i]].Id +"/"+ rowsDogs[randomDogs[i]].votes %>">
					<img class="single-pet-rate" src="<%= rowsDogs[randomDogs[i]].img %>">
					<div class="middle">
					<div class="text">Vote for this Dog</div>
					</div>
				</a>
			</div>
		<% } %>
</div>
<div><a id="uploadD">Dont like theses Dogs? Upload your own</a>
	<div id="modalDogsUpload" class="modal <%if (dogSuccess==='true'){%> show <%}%>">
		<div class="modal-content">
			<div class="modal-header">
				<span id="spanDogs" class="close">&times;</span>
				<%if (dogSuccess==='true'){%> <h3>Your Upload was successful</h3> <%}else{%>
				<h3>Upload your Dog</h3>
				<%}%>
			</div>
			<div class="modal-body">
				<form action="upload_dogimage" method="post" enctype="multipart/form-data">
					<input type="file" name="dateiname">
					<br/><br/>
					<input class="modalButton" type="submit" value="Upload" name="submit"></br><br/>
				</form>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>

<div class="footer"></div>


<!--
<table>
	<tr>
		<% for(let i=0;i<2;i++){ %>
			<td> <img src="<%= rowsDogs[randomDogs[i]].img %>" style="width:300px;"></td>
		<% } %>
	</tr>
	<tr>
		<% for(let i=0;i<2;i++){ %>
			<td><form method ="POST"
				action="<%="/AddierenD/"+rowsDogs[randomDogs[i]].Id+ rowsDogs[randomDogs[i]].votes%>"
				>
				<button type ="submit">Vote up</button>
			</form>	</td>

		<% } %>
	</tr>
</table>

<button onclick="dogsSlideBack()">Back to start</button>


</br>
<button><a href="/uploadDogs">Upload your own dog</a></button>
-->
