<div class="header-stripe"></div>
<div class="header">
	<h1>Cats</h1>
</div>
<div class="subtitle"><h2>Click on the cutest Cat</h2></div>
<div class="half-circle-right">
	<div class="align-button">
		<a onclick="catsSlideBack()"><div class="btn btn-right">Back to <br /> start</div></a>
	</div>
</div>
<div class="cat-pictures">
		<% for(let i=0;i<2;i++){ %>
			<a class="a-size" href="<%="/AddierenC/" + rowsCats[randomCats[i]].Id +"/"+ rowsCats[randomCats[i]].votes %>">
				<img class="single-pet-rate" src="<%= rowsCats[randomCats[i]].img %>">
			</a>
		<% } %>
</div>
<div><a href="/uploadCats">Dont like theses Cats? Upload your own</a></div>
<div class="footer"></div>
