<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/cats_and_dogs.css">
		<title>Cat Upload</title>
	</head>
	<body class="upload_cats">
		<div class="header-stripe"></div>
		<div class="header">
			<h1>Upload your own Cats</h1>
		</div>
		<form action="upload_catimage" method="post" enctype="multipart/form-data">
			<input type="file" name="dateiname"><br/><br/>
			<input type="submit" value="Upload" name="submit"></br><br/>
			<button><a href="/">Cancel</a></button>
		</form>
	</body>
</html>
