<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<title>Dog Upload</title>
	</head>
	<body>
		<form action="upload_dogimage" method="post" enctype="multipart/form-data">
			<input type="file" name="dateiname"><br/><br/>
			<input type="submit" value="Hochladen" name="submit"><br/><br/>
			<button><a href="/">Cancel</a></button>

		</form>
	</body>
</html>
