<html>	
	<head> 
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<title>Bild Hochladen</title>
	</head>
	<body>
		<form action="upload_catimage" method="post" enctype="multipart/form-data">
			<input type="file" name="dateiname"><br/><br/>
			<input type="submit" value="Upload" name="submit"></br><br/>
			<button><a href="/">Cancel</a></button>

		</form>
	</body>
</html>