<html>	
	<head> 
		<title>Dog uploaded</title>
	</head>
	<body>
			<h4>Your upload was successful!</h4>
			</br></br>
			<button><a href="/">Back to voting</a></button>
			</br></br>
			<button><a href="/uploadDogs">Upload another dog</a></button>
		
		
		</form>
	</body>
</html>