.cats{
  background-color: #819ca9;
  font-family: 'Amatic SC', cursive;
  /*legt _rate_cats links neben home(auf der x achse)*/
  transform: translateX(-100%);
  /*absolute gibt geneaue position auf dem screen an*/
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 300;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 5% 20% 5% 5% 25% 25% 10% 5%;
  grid-template-areas:
  "headertop      headertop headertop headertop "
  "header         header    header    header"
  ".              sub       sub       ."
  ".              .         .         ."
  ".              cat      cat        rightButton"
  ".              cat      cat        rightButton"
  ".              .         .         ."
  "footer         footer    footer    footer"
}

.dogs{
  background-color: #819ca9;
  font-family: 'Amatic SC', cursive;
  transform: translateX(100%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 200;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 5% 20% 5% 5% 25% 25% 10% 5%;
  grid-template-areas:
  "headertop      headertop headertop headertop "
  "header         header    header    header"
  ".              sub       sub       ."
  ".              .         .         ."
  "leftButtonTop  dog      dog        ."
  "leftButtonTop  dog      dog        ."
  ".              .         .         ."
  "footer         footer    footer    footer"
}

.home{
  background-color: #819ca9;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 5% 20% 5% 5% 25% 25% 10% 5%;
  grid-template-areas:
  "headertop      headertop headertop headertop headertop headertop"
  "header         header    header    header    header    header"
  ".              sub       sub       sub       sub       ."
  ".              .         .         .         .         ."
  "leftButtonTop  cat      cat      dog         dog       rightButton"
  "leftButtonTop  cat      cat      dog         dog       rightButton"
  ".              .        .        .           .         ."
  "footer         footer   footer   footer      footer    footer"
}

.header-stripe{
  background-color: #29434e;
  grid-area: headertop;
  box-shadow: 0px 0px 5px black;
}

.header{
  padding-bottom: 5px;
  text-align: center;
  background-color: #546e7a;
  grid-area: header;
  box-shadow: 0px 0px 5px black;
}

.subtitle{
  text-align: center;
  grid-area: sub;
}

.footer{
  grid-area: footer;
  background-color: #29434e;
  border-top: 5px solid #546e7a;
}

/*-----------------BUTTONS FOR CHANGING SITE--------------*/

.half-circle-left{
     grid-area: leftButtonTop;
}

.btn-left {
  margin-top: -90px;
  height:180px;
  width:90px;
  border-radius: 0 90px 90px 0;
  background:#f57f17;
  text-align: center;
}

.half-circle-right{
     grid-area: rightButton;
}

.btn-right {
  float: right;
  margin-top: -90px;
  height:180px;
  width:90px;
  border-radius: 90px 0px 0px 90px;
  background:#f57f17;

}
.btn{
  display:flex;
  text-align: center;
  align-items: center;
  font-size: 4vh;
}

.btn:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffaf4c;
  cursor: pointer;
}

.align-button{
  height:100%;
  width:100%;
  transform: translate(0%, 50%);
}

/*--------------------DISPLAYING THE PICTURES-----------------*/

.cat-pictures{
  grid-area: cat;
  align-content: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dog-pictures{
  grid-area: dog;
  align-content: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.single-pet{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  width: 100%;
  transition: .3s ease;
  backface-visibility: hidden;
  border-radius: 5px;
  object-fit: cover;
}


.single-pet-rate{
  /*box-shadow: https://www.w3schools.com/css/css3_shadows.asp*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  transition: .3s ease;
  backface-visibility: hidden;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.a-size{
  width:45%;
  margin-left: 10px;
  margin-right: 10px;
}

.image-container{
  position: relative;
  width: 45%;
  height: 45%;
  margin: 5px;
}

.image-container-vote{
  position: relative;
  width: 45%;
  height: 90%;
  margin: 10px;
}


.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image-container:hover .single-pet{
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.image-container-vote:hover .single-pet-rate{
  opacity: 0.3;
}

.image-container-vote:hover .middle {
  opacity: 1;
}


.text {
  background-color: #f47e17;
  color: black;
  font-size: 22px;
  padding: 16px 32px;
  border-radius: 5px;
}


/*----------------SWIPE ANIMATIONS ---------------------------*/

.cats-animation{
  /* animationsname animationsdauer seite bleibt wie nach animation*/
  animation: slide-cats-in 0.2s forwards;
  animation-timing-function: linear;
}

@keyframes slide-cats-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.cats-animation-back{
  animation: slide-cats-out 0.2s forwards;
  animation-timing-function: linear;
}

@keyframes slide-cats-out {
  from{
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.dogs-animation{
  animation: slide-dogs-in 0.2s forwards;
  animation-timing-function: linear;
}

@keyframes slide-dogs-in {
  from {
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}

.dogs-animation-back{
  animation: slide-dogs-out 0.2s forwards;
  animation-timing-function: linear;
}

@keyframes slide-dogs-out {
  from {
    transform: translateX(0%);
  }

  to{
    transform: translateX(100%);
  }
}

.stay-at-cats{
  animation: stay-cats 0s forwards;
  animation-timing-function: linear;
}
  @keyframes stay-cats{
    from{
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .stay-at-dogs{
    animation: stay-dogs 0s forwards;
    animation-timing-function: linear;
  }
    @keyframes stay-dogs{
      from{
        transform: translateX(100%);
      }
      to {
        transform: translateX(0%);
      }
    }


/*versteck/schneidet alles, das über den sichtbereich hinaus geht ab*/
body {
  overflow: hidden;
}

h1{
  font-family: 'Sacramento';
  font-weight: 200;
  font-size: 12vh;
  margin: 5px;
  color: white;
}

h2{
  font-size: 4vh;
  font-weight: normal;
  margin: 0;
  letter-spacing: 3px;
  word-spacing: 5px;
}

h3{
  font-family: 'Sacramento';
  font-weight: 200;
  font-size: 7vh;
  margin: 5px;
  color: black;
}

/*---------------MODAL-------------------------------------------------------------*/

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #f47e17;
    color: white;
    border-top: 10px solid #bb5000;
    box-shadow: 0px 0px 5px black;
    text-align: center;
}

/* Modal Body */
.modal-body {
  margin-top: 5%;
  padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #f47e17;
    color: white;
    border-top: 2px solid #bb5000;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 500; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #f47e17; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.show{
  display: block;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #ffaf4c;
    margin:16% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.2s
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalButton{
  background-color: #bb5000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  border-radius: 5px;
}
